#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 50px;
}

svg {
  background-color: beige;
  display: block;
  overflow: visible;
  width: 100%;
}

button {
  margin: 5px auto;
}

div {
  margin-bottom: 30px;
}
